footer {
    width: 100%;
    height: 307px;
    background-color: #6E5694;
    .footer_lists {
        width: 75%;
        margin: 0 auto;
        height: 100%;
        .list_titles {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            height: 160px;
            padding-top: 80px;
            .support {
                height: 110px;
            }
            .socialmedia {
                height: 125px;
            }
            li {
                h1 {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 20px;
                    color: #ffffff;
                    margin-bottom: 35px;
                }
                ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 85%;
                    li {
                        a {
                            text-decoration-line: none;
                            color: #ffffff;
                            font-family: 'Montserrat-light', sans-serif;
                            font-size: 17px;
                        }
                        p {
                            font-family: 'Montserrat-light', sans-serif;
                            color: #ffffff;
                            font-size: 17px;
                        }
                    }
                }
            }
        }
        .swiper-container {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            .swiper-wrapper {
                display: flex;
                justify-content: space-between;
                width: 100%;
                .swiper-slide {
                    li.company {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 185px;
                    }
                }
            }
        }
    }
}