.howItWork {
    width: 100%;
    height: 820px;
    background-color: #F5F5F5;
    .howItWork_title {
        text-align: center;
        font-family: 'Montserrat-Medium', sans-serif;
        font-size: 36px;
        color: #434343;
        letter-spacing: 1px;
        position: relative;
        padding-top: 60px;
    }
    .howItWork_wrapper {
        height: 660px;
        width: 75%;
        margin: 100px auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        position: relative;
        .workList {
            width: 700px;
            height: 415px;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            top: 40%;
            position: relative;
            transform: translateY(-50%);
            li {
                width: 45%;
                img {
                    margin-bottom: 10px;
                }
                h1 {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 20px;
                    color: #53467B;
                    margin-bottom: 20px;
                }
                p {
                    font-family: 'Montserrat-light', sans-serif;
                    font-size: 18px;
                    color: #7A7A7A;
                    line-height: 25px;
                }
            }
        }
        .iphonediv {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            display: flex;
            width: 310px;
            height: 585px;
            margin-top: -20px;
            .iphonevideo {
                width: 265px;
                height: 535px;
            }
            div {
                width: 100%;
                height: 36px;
                display: flex;
                justify-content: center;
                a {
                    width: 260px;
                    height: 36px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    text-decoration-line: none;
                    img {
                        width: 36px;
                        height: 36px;
                    }
                    p {
                        font-family: 'Montserrat', sans-serif;
                        font-size: 20px;
                        color: #53467B;
                    }
                }
            }
        }
    }
}