@media only screen and (max-width:675px) {
    header{
        .homePage{
            nav {
                height: 80px;
                .menu-hamburger {
                display: flex;
                }
                .navbar {
                   .menu{
                        left: 0;
                        top: 0px;
                        margin: 0;
                        background-color: rgba(0, 0, 0, 0.6);
                        height: 400px;
                        width: 100%;
                        transform: translateY(-100vh);
                        transition: .25s;
                        position: absolute;
                        div{
                        flex-flow: column wrap;
                        height: 280px;
                        width: 100%;
                        position: absolute;
                        bottom: 5%;
                        justify-content: space-around;
                        margin: 0;
                            li {
                                width: 100%;
                                text-align: center;
                            }
                            }
                        }
                    .nav-logo {
                        position: absolute;
                        right: 5%;
                        top: 50%;
                        transform: translateY(-50%);
                        z-index: 2;
                            }
                        }
                    }
                }
            }
                .navbar-active {
                    transform: translateY(-0vh)!important;
            }
}