@media only screen and (max-width:675px) {
    .howItWork {
        height: 1500px;
        margin-top: 130px;
        .howItWork_wrapper {
            height: 1300px;
            width: 80%;
            margin: 0 auto;
            margin-top: 100px;
            .workList {
                flex-flow: column wrap;
                justify-content: space-around;
                top: 25%;
                height: 680px;
                align-items: center;
                li {
                    display: flex;
                    flex-flow: column wrap;
                    align-items: center;
                    width: 100%;
                    p {
                        text-align: center;
                    }
                }
            }
            .iphonediv {
                margin-top: -20px;
                position: absolute;
                bottom: 20px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}