@media only screen and (max-width: 675px) {
    .logo {
        height:400px;
        ul {
            flex-flow: row wrap;
            width: 100%;
            display: flex;
            justify-content: center;
            li {
                margin: 0 auto;
                width: 40%;
                height: 25%;
                display: flex;
                justify-content: center;
            }
        }
    }
}