@media only screen and (min-width:680px) and (max-width: 1124px) {
    .logo {
        height: 300px;
        ul {
            flex-flow: row wrap;
            width: 80%;
            min-width: 80%;
            li {
                width: 45%!important;
                height: 25%;
                display: flex;
                justify-content: center;
                img {   
                    width: 75%;
                }
            }
        }
    }
}