@font-face {
    font-family: 'Montserrat';
    font-weight: normal;
    src: url('../fonts/Montserrat-Regular.otf');
    font-style: normal;
}
@font-face {
    font-family:'Montserrat-Medium';
    font-weight: 200;
    font-style: normal;
    src: url('../fonts/Montserrat-Medium.otf');
}
@font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    src: url('../fonts/MontserratAlternative-Bold.otf');
    font-style: bold;
}